body {
    background-color:rgb(241,195,148);
    /* background-color:rgb(241, 221, 201); */
    /*
    --SAME COLOR IN DIFFERENT NOTATIONS --
    #f1c394
    #fc9
    burlywood
    hsl(30,76,76)
    rgb(241,195,148)
    */
}

#ghost-navbar-plus-carousel {
    position: absolute;
    width: 100%;
}

#ghost-navbar {
    z-index: -99;
    /* opacity: 0; */
    /* position: absolute; */
    width: 100%;
}

#sign-in-modal {
    background: none;
    /* box-shadow: none; */
    border: none;
}

.carousel {
    /* position: absolute; */
    width: 100%;
}

.carousel-inner {
    box-shadow: 0 0 .5em 0 black;
    transition: 0.3s;
}

.wide-author-container {
    position: relative;
    width: 100%;
    /* top: 12vw; */
    /* padding-left: 15vw;
    padding-right: 15vw; */
    padding-top: 7.5vw;
    padding-bottom: 10vw;
}



.author-img {
    height: 18vw;

    box-shadow: 
    -.05em -.05em 2.5em rgb(27, 27, 27),
    -.05em .05em 2.5em rgb(27, 27, 27),
    -.075em 0 2.5em rgb(27, 27, 27),
    0 -.075em 2.5em rgb(27, 27, 27);
}

.today-top {
    color: black;
    font-size: 2vw;
    line-height: 1em;
    text-shadow: 
    -.05em -.05em 2.5em white,
    .05em -.05em 2.5em white,
    -.05em .05em 2.5em white,
    .05em .05em 2.5em white,
    -.075em 0 2.5em white,
    .075em 0 2.5em white,
    0 -.075em 2.5em white,
    0 .075em 2.5em white;
}

#author-name {
    color: white;
    font-size: 3vw;
    text-shadow: 
    -.05em -.05em 2.5em rgb(27, 27, 27),
    .05em -.05em 2.5em rgb(27, 27, 27),
    -.05em .05em 2.5em rgb(27, 27, 27),
    .05em .05em 2.5em rgb(27, 27, 27),
    -.075em 0 2.5em rgb(27, 27, 27),
    .075em 0 2.5em rgb(27, 27, 27),
    0 -.075em 2.5em rgb(27, 27, 27),
    0 .075em 2.5em rgb(27, 27, 27);
}


.author-bio {
    color: white;
    font-size: 1.25vw;
    margin: 0;
    padding: 0;
    text-shadow: 
    -.05em -.05em 1.5em rgb(27, 27, 27),
    .05em -.05em 1.5em rgb(27, 27, 27),
    -.05em .05em 1.5em rgb(27, 27, 27),
    .05em .05em 1.5em rgb(27, 27, 27),
    -.075em 0 1.5em rgb(27, 27, 27),
    .075em 0 1.5em rgb(27, 27, 27),
    0 -.075em 1.5em rgb(27, 27, 27),
    0 .075em 1.5em rgb(27, 27, 27);
}

#wikipedia-credit {
    /* margin: .1vw; */
    text-decoration: none;
    font-size: 1.25vw;
    text-shadow: 
    -.05em -.05em 1.5em rgb(27, 27, 27),
    .05em -.05em 1.5em rgb(27, 27, 27),
    -.05em .05em 1.5em rgb(27, 27, 27),
    .05em .05em 1.5em rgb(27, 27, 27),
    -.075em 0 1.5em rgb(27, 27, 27),
    .075em 0 1.5em rgb(27, 27, 27),
    0 -.075em 1.5em rgb(27, 27, 27),
    0 .075em 1.5em rgb(27, 27, 27);
}


#wikipedia-logo {
    height: 2vw;
}

/* SEARCH RESULT & AUTHOR'S MOST POPULAR BOOKS */

/* .container-main-content {
    flex-flow: column wrap-reverse;
    align-items: flex-start;
    justify-content: space-between;
} */

/* .container-author-works {
    flex-flow: column wrap-reverse;
    align-items: flex-start;
    justify-content: space-between;
} */


#popular-title {
    margin: 1em 0em;
    font-weight: bold;
}

.book-image {
    cursor: pointer;
    height: 18vw;
    /* Add shadows to create a 3D effect */
    box-shadow: 0 .1em .25em 0 black;
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.book-image:hover {
    box-shadow: 0 .5em 1.5em 0 black;
}
.book-title {
    margin-top: .5em;
}


/* COMPLETE WORKS TABLE */

#google-books-logo {
    height: 1.5vw;
}

#google-credit {
    text-decoration: none;
    font-size: 1.25vw;
}

.books-found-title {
    margin: 1em 0em;
    font-weight: bold;
}

.side-table {
    background-color: whitesmoke;
    /* width: 10em; */
}

.table-book-image {
    height: 5vw;
}

/* .last-column {
    align-content: flex-end;
} */

.table-rating-image {
    width: 5vw;
}

#eBook-image {
    height: 2vw;
    /* width: 2em; */
    margin: .5em;
    /* opacity: 0.5;
    filter: alpha(opacity=50); */
}

.favorite-button {
    height: 2vw;
    /* width: 2em; */
    margin: .5em;
    /* opacity: 0.5;
    filter: alpha(opacity=50); */
}